html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden;  */
  /* overflow: hidden;  */
  width: 100%;
  background-color: #f0f0f0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */

  overflow: hidden; /* Hide overflow content */
}

#gameRoomHeader {
  display: flex;
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
  padding: 0.2rem; /* Add padding around the header */
  background-color: #f0f0f0; /* Set background color */
  /* border-bottom: 2px solid #ccc;  */
  /* margin-bottom: 20px; */
  height: 10vh;
  height: 10vh;
}

#gameRoomName {
  font-size: 2rem; /* Set font size to 2rem */
  text-align: center; /* Center align text */
}
#greetingMessage {
  font-size: 1rem; /* Set font size to 2rem */
  text-align: center; /* Center align text */
}
#leaveButton {
  padding: 0.5rem 1rem; /* Add padding */
  background-color: #dc3545; /* Set background color */
  color: #fff; /* Set text color */
  border: none; /* Remove border */
  border-radius: 0.25rem; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
}

#leaveButton:hover {
  background-color: #c82333; /* Darken background color on hover */
}

.game-deck {
  height: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: row;
  /* flex-basis: 60%; */
  /* flex-basis: 60%; */
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 0 20px;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-list {
  width: 25%;
}
.deck {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
}

#deck {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* flex-basis: 80%; */
  /* flex-basis: 80%; */
}

.chat-box {
  width: 25%;
}

.user-hand {
  /* margin-top: 20px; */
  /* flex-basis: 60%; */
  /* flex-basis: 60%; */
  background-color: #f0f0f0;
  /* height: 80%; */
  width: 100%;
  height: 40vh;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#hand {
  flex: 1;
  width: 100%;
  height: 30%;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.hand_card {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed */
  max-width: 200px; /* Adjust maximum width as needed */
  height: 60%;
  height: 60%;
  flex-shrink: 1;
}

.hand_card:hover {
  width: 220px;
  width: 220px;
  height: 100%;
  transition: 1s ease;
}

.deck_card {
  height: 60%;
  height: 60%;
  display: inline-block;
  margin-right: 10px; /* Adjust as needed */
  max-width: 250px; /* Adjust maximum width as needed */
}

.player-list {
  margin-right: 20px;
}

.deck,
.chat-box {
  margin-left: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#chat-input {
  margin-bottom: 10px;
}

.gray-border {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}

.scroll {
  overflow: scroll;
}

#chat-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}
#chat-messages {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background: #fff;
  height: 60vh;
  overflow-y: scroll;
}
#send-message {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  border-radius: 10px;
}

.room-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bottom-button {
  margin-bottom: 20px;
}

#messages {
  height: 30vh;
  overflow: scroll; 
}
.bottom-button {
  margin-bottom: 20px;
}

#messages {
  height: 30vh;
  overflow: scroll; 
}

#playerList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}