/* sign in sign up css*/
.border-red-500 {
  border-color: #f56565;
}

.border-blue-500 {
  border-color: #4299e1;
}

.text-red {
  color: #f56565 !important;
}

/* lobby CSS Styles */

html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Disable scrollbars */
  width: 100%;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.gamesList {
  margin-top: 20px;
}

.game-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.join-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.gray-border {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}

.scroll {
  overflow: scroll;
  height: 700px; /* Set a fixed height for the scrollable area */
}

#messageInput {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}
#messages {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background: #fff;
  height: 60vh;
  overflow-y: scroll;
}
#sendButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  border-radius: 10px;
}

.form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button-primary {
  background-color: #007bff;
  color: #fff;
}

.button-secondary {
  background-color: #ccc;
  color: #000;
}

.create-game-form-container {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  z-index: 999; /* Ensure it's above other content */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 998; /* lower z-index than create game form */
}

/*game room css*/

.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Occupy full viewport height */
  width: 100%;
}

.game-deck {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-hand {
  height: 40%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-list {
  width: 25%;
}

.deck {
  width: 50%;
}

.chat-box {
  width: 25%;
}

.user-hand {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 20px;
}

.player-list {
  margin-right: 20px;
}

.deck,
.chat-box {
  margin-left: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.player-container {
  display: flex;
  flex-wrap: wrap;
}

.player-box {
  width: calc(
    100% / 4 - 10px
  ); /* Adjust the percentage based on your preference */
  height: 40px; /* Adjust the height based on your preference */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.player-box.occupied {
  background-color: #007bff;
  color: white;
}

.player-box.empty {
  background-color: #f0f0f0;
}

.join-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #0056b3;
}
